.todoContainer {
  padding: 1rem;
  border: 1px solid rgb(40, 40, 40);
}

.header {
  margin: 0;
}

.todoGridContainer {
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  grid-gap: 1rem;
  display: grid;
  padding-top: 3rem;
}

.headerContainer {
  padding: 1rem 0;
}

.todoAddNewTaskContainer {
  display: flex;
}

.todoAddNewTaskContainer button {
  margin: 0;
  padding: 0 0.5rem;
  border: 0;
}

.todoAddNewTaskContainer button:hover {
  cursor: pointer;
}

.todoAddNewTaskInput {
  height: 2rem;
  margin: 0;
  padding: 0.5rem;
  border: 0;
  flex: 1;
  box-sizing: border-box;
}

.ul {
  padding: 0;
  padding-top: 1rem;
  margin: 0;
}

.ul div:last-child {
  border: 0;
}

.ul p {
  word-break: break-all;
  margin: 0;
  padding: 0.25rem 0;
}

.taskItemContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(40, 40, 40);
}

.taskItemContainer button {
  width: 2rem;
  background-color: transparent;
  color: white;
  margin: 0.5rem 0;
  border: 0;
  align-self: flex-start;
  flex-shrink: 0;
}

.taskItemContainer button:hover {
  cursor: pointer;
  color: red;
}

.taskItemContainer .container {
  display: flex;
}

.taskItemContainer .container input {
  margin: 0 0.5rem 0 0;
}

.titleContainer {
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.titleContainer h2 {
  margin: 0;
}

.titleContainer button {
  height: 1rem;
  width: 2rem;
  background-color: transparent;
  color: white;
  margin: 0.5rem 0;
  border: 0;
  align-self: flex-start;
  flex-shrink: 0;
}

.titleContainer button:hover {
  cursor: pointer;
  color: red;
}

.addTodo button {
  height: 2rem;
  margin: 0;
  padding: 0 0.5rem;
  border: 0;
}

.addTodo button:hover {
  cursor: pointer;
}

.addTodo input {
  height: 2rem;
  margin: 0;
  padding: 0.5rem;
  border: 0;
  flex: 1;
  box-sizing: border-box;
}
